# Functions

1) Define functions without parameters

2) Define functions with one parameter

3) Define functions that return a value

4) Later: multiple arguments, multiple return values

In [4]:
x = str(5)
print(type(x)) , print(x)

<class 'str'>
5

(None, None)

In [6]:
def square(value):
    new_value = value ** 2
    print(new_value)
    
square(4)

16

In [7]:
square(5)

25

In [8]:
# Return values from functions
# Docstrings describe what your function does

def square(value):
    """Return the square of a value."""
    new_value = value ** 2
    return new_value
num = square(4)

print(num)

16

In [13]:
# Multiple function parameters

def raise_to_power(value1, value2):
    """"Raise value1 to the power of value2"""
    new_value = value1 ** value2
    return new_value

result = raise_to_power(2,3)
print(result)
print(type(raise_to_power(2,3)))

8
<class 'int'>

In [14]:
# Tuple
even_nums = (2, 4)
print(type(even_nums))

<class 'tuple'>

In [17]:
# Unpacking tuple

even_nums = (2, 4, 6)
a, b, c =  even_nums
print(a), print(b), print(c)

2
4
6

(None, None, None)

In [18]:
# Accessing Tuple elements

even_nums = (2, 4, 6)
print(even_nums[1])

4

In [19]:
# Accessing Tuple elements

second_num = even_nums[1]
print(second_num)

4

In [20]:
# Returning Multiple values

def raise_both(value1, value2):
    """Raise value1 to the power of value2 and vice versa."""
    
    new_value1 = value1 ** value2
    new_value2 = value2 ** value1
    
    new_tuple = (new_value1, new_value2)
    
    return new_tuple

In [22]:
result = raise_both(2, 3)
print(result)

(8, 9)

In [24]:
# Functions with multiple returns

def func(word1, word2):
    
    shout1 = word1 + "!!!"
    
    shout2 = word2 + "!!!"
    
    shout_words = (shout1, shout2)
    
    return shout_words

(result1, result2) = func('congrats', "you")

print(result1)
print(result2)

congrats!!!
you!!!

In [3]:
# The dataset contains Twitter data and you will iterate over entries 
# in a column to build a dictionary in which the keys are the names of 
# languages and the values are the number of tweets in the given language.

import pandas as pd
df = pd.read_csv('tweets.csv')

print(df.head())

   contributors  coordinates                      created_at  \
0           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
1           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
2           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
3           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
4           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016

                                            entities  \
0  {'hashtags': [], 'user_mentions': [{'screen_na...
1  {'hashtags': [{'text': 'cruzsexscandal', 'indi...
2  {'hashtags': [], 'user_mentions': [], 'symbols...
3  {'hashtags': [], 'user_mentions': [], 'symbols...
4  {'hashtags': [], 'user_mentions': [{'screen_na...

                                   extended_entities  favorite_count  \
0  {'media': [{'sizes': {'large': {'w': 1024, 'h'...               0
1  {'media': [{'sizes': {'large': {'w': 500, 'h':...               0
2                                                NaN               0
3                                                NaN               0
4                                                NaN               0

   favorited filter_level  geo                  id  ...  quoted_status_id  \
0      False          low  NaN  714960401759387648  ...               NaN
1      False          low  NaN  714960401977319424  ...               NaN
2      False          low  NaN  714960402426236928  ...               NaN
3      False          low  NaN  714960402367561730  ...      7.149239e+17
4      False          low  NaN  714960402149416960  ...               NaN

  quoted_status_id_str  retweet_count  retweeted  \
0                  NaN              0      False
1                  NaN              0      False
2                  NaN              0      False
3         7.149239e+17              0      False
4                  NaN              0      False

                                    retweeted_status  \
0  {'retweeted': False, 'text': ".@krollbondratin...
1  {'retweeted': False, 'text': '@dmartosko Cruz ...
2                                                NaN
3                                                NaN
4  {'retweeted': False, 'text': 'The anti-America...

                                              source  \
0  <a href="http://twitter.com" rel="nofollow">Tw...
1  <a href="http://twitter.com" rel="nofollow">Tw...
2  <a href="http://www.facebook.com/twitter" rel=...
3  <a href="http://twitter.com/download/android" ...
4  <a href="http://twitter.com/download/iphone" r...

                                                text   timestamp_ms truncated  \
0  RT @bpolitics: .@krollbondrating's Christopher...  1459294817758     False
1  RT @HeidiAlpine: @dmartosko Cruz video found.....  1459294817810     False
2  Njihuni me ZonjÃ«n Trump !!! | Ekskluzive https...  1459294817917     False
3  Your an idiot she shouldn't have tried to grab...  1459294817903     False
4  RT @AlanLohner: The anti-American D.C. elites ...  1459294817851     False

                                                user
0  {'utc_offset': 3600, 'profile_image_url_https'...
1  {'utc_offset': None, 'profile_image_url_https'...
2  {'utc_offset': 7200, 'profile_image_url_https'...
3  {'utc_offset': None, 'profile_image_url_https'...
4  {'utc_offset': -18000, 'profile_image_url_http...

[5 rows x 31 columns]

In [4]:
# Initialize an empty dictionary: langs_count
langs_count = {}

# Extract column from DataFrame: col
col = df['lang']

# Iterate over lang column in DataFrame
for entry in col:
    
    # If the language is in langs_count, add 1 
    if entry in langs_count.keys():
    
        langs_count[entry] += 1
    # Else add the language to langs_count, set the value to 1
    else:
        
        langs_count[entry] = 1

# Print the populated dictionary
print(langs_count)

{'en': 97, 'et': 1, 'und': 2}

In [8]:
# Python Functions | Python Tutorial for Absolute Beginners #1
# https://www.youtube.com/watch?v=u-OmVr_fT4s&t=571s
# If the number of arguments is unknown, add a * before the parameter name:

def multiply(*numbers):
    total = 1
    for number in numbers:
        total *= number
    return total

multiply(2 ,3, 4, 5)

120

In [12]:
# https://www.w3schools.com/python/python_functions.asp
# If the number of arguments is unknown, add a * before the parameter name:

def func(*cars):
    print("My own a black color " + cars[2])

func("Tesla", "Porche", "BMW")

My own a black color BMW