In [2]:
import pandas as pd
tweets = pd.read_csv('tweets.csv')
print(tweets.head())

   contributors  coordinates                      created_at  \
0           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
1           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
2           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
3           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
4           NaN          NaN  Tue Mar 29 23:40:17 +0000 2016

                                            entities  \
0  {'hashtags': [], 'user_mentions': [{'screen_na...
1  {'hashtags': [{'text': 'cruzsexscandal', 'indi...
2  {'hashtags': [], 'user_mentions': [], 'symbols...
3  {'hashtags': [], 'user_mentions': [], 'symbols...
4  {'hashtags': [], 'user_mentions': [{'screen_na...

                                   extended_entities  favorite_count  \
0  {'media': [{'sizes': {'large': {'w': 1024, 'h'...               0
1  {'media': [{'sizes': {'large': {'w': 500, 'h':...               0
2                                                NaN               0
3                                                NaN               0
4                                                NaN               0

   favorited filter_level  geo                  id  ...  quoted_status_id  \
0      False          low  NaN  714960401759387648  ...               NaN
1      False          low  NaN  714960401977319424  ...               NaN
2      False          low  NaN  714960402426236928  ...               NaN
3      False          low  NaN  714960402367561730  ...      7.149239e+17
4      False          low  NaN  714960402149416960  ...               NaN

  quoted_status_id_str  retweet_count  retweeted  \
0                  NaN              0      False
1                  NaN              0      False
2                  NaN              0      False
3         7.149239e+17              0      False
4                  NaN              0      False

                                    retweeted_status  \
0  {'retweeted': False, 'text': ".@krollbondratin...
1  {'retweeted': False, 'text': '@dmartosko Cruz ...
2                                                NaN
3                                                NaN
4  {'retweeted': False, 'text': 'The anti-America...

                                              source  \
0  <a href="http://twitter.com" rel="nofollow">Tw...
1  <a href="http://twitter.com" rel="nofollow">Tw...
2  <a href="http://www.facebook.com/twitter" rel=...
3  <a href="http://twitter.com/download/android" ...
4  <a href="http://twitter.com/download/iphone" r...

                                                text   timestamp_ms truncated  \
0  RT @bpolitics: .@krollbondrating's Christopher...  1459294817758     False
1  RT @HeidiAlpine: @dmartosko Cruz video found.....  1459294817810     False
2  Njihuni me ZonjÃ«n Trump !!! | Ekskluzive https...  1459294817917     False
3  Your an idiot she shouldn't have tried to grab...  1459294817903     False
4  RT @AlanLohner: The anti-American D.C. elites ...  1459294817851     False

                                                user
0  {'utc_offset': 3600, 'profile_image_url_https'...
1  {'utc_offset': None, 'profile_image_url_https'...
2  {'utc_offset': 7200, 'profile_image_url_https'...
3  {'utc_offset': None, 'profile_image_url_https'...
4  {'utc_offset': -18000, 'profile_image_url_http...

[5 rows x 31 columns]

In [64]:
# https://www.marsja.se/how-to-get-the-column-names-from-a-pandas-dataframe-print-and-list/#:~:text=To%20get%20the%20column%20names%20in%20Pandas%20dataframe%20you%20can,)).
# https://www.kite.com/python/answers/how-to-convert-the-rows-of-a-pandas-dataframe-to-lists-in-python

import pandas as pd
world_bank = pd.read_csv('world_bank.csv')
sort = world_bank.set_index("Country").sort_index()
pak = list(sort.loc['Pakistan'])
#pak = world_bank.loc['Pakistan', :]
#values = pak.values.tolist()
frame = list(world_bank.columns)
# values = world_bank.values
print(pak)
#print(values)
#print(frame)

['216.6', '796.1', '275', '304.5', '1,410', '1,039.40', '4,800', '1', '-1']

In [65]:
zipped_list = zip(frame[1:], pak)
rs_dict = dict(zipped_list)
print(rs_dict)

{'Population': '216.6', 'Surface area': '796.1', 'Population density': '275', 'Gross national income, Atlas method': '304.5', 'Gross national income per capita, Atlas method': '1,410', 'Purchasing power parity gross national income': '1,039.40', 'Unnamed: 7': '4,800', 'Gross domestic product': '1', 'Unnamed: 9': '-1'}

In [66]:
def list2dict(list1, list2):
    zipped_list = zip(list1, list2)
    rs_dict = dict(zipped_list)
    return rs_dict
rs_fxn = list2dict(frame[1:], pak)
print(rs_fxn)

{'Population': '216.6', 'Surface area': '796.1', 'Population density': '275', 'Gross national income, Atlas method': '304.5', 'Gross national income per capita, Atlas method': '1,410', 'Purchasing power parity gross national income': '1,039.40', 'Unnamed: 7': '4,800', 'Gross domestic product': '1', 'Unnamed: 9': '-1'}

In [68]:
list_of_dicts = [list2dict(frame[1:], sublist) for sublist in rs_dict]
print(list_of_dicts[0])
print(list_of_dicts[1])

{'Population': 'P', 'Surface area': 'o', 'Population density': 'p', 'Gross national income, Atlas method': 'u', 'Gross national income per capita, Atlas method': 'l', 'Purchasing power parity gross national income': 'a', 'Unnamed: 7': 't', 'Gross domestic product': 'i', 'Unnamed: 9': 'o'}
{'Population': 'S', 'Surface area': 'u', 'Population density': 'r', 'Gross national income, Atlas method': 'f', 'Gross national income per capita, Atlas method': 'a', 'Purchasing power parity gross national income': 'c', 'Unnamed: 7': 'e', 'Gross domestic product': ' ', 'Unnamed: 9': 'a'}

In [78]:
# Writing an iterator to load data in chunks 

import pandas as pd

world_bank = pd.read_csv('world_bank.csv', chunksize=10)
world_bank_pop = next(world_bank)
print(world_bank_pop)

               Country Population      Surface area Population density  \
0                  NaN        NaN               NaN                NaN
1                  NaN   millions  sq. km thousands  people per sq. km
2                  NaN       2019              2019               2019
3          Afghanistan         38             652.9                 57
4              Albania        2.9              28.8                105
5              Algeria       43.1          2,381.70                 18
6       American Samoa        0.1               0.2                277
7              Andorra        0.1               0.5                164
8               Angola       31.8          1,246.70                 25
9  Antigua and Barbuda        0.1               0.4                219

  Gross national income, Atlas method  \
0                                 NaN
1                          $ billions
2                                2019
3                                  20
4                                14.9
5                               172.5
6                                  ..
7                                  ..
8                                94.2
9                                 1.6

  Gross national income per capita, Atlas method  \
0                                            NaN
1                                              $
2                                           2019
3                                            530
4                                          5,220
5                                          4,010
6                                             ..
7                                             ..
8                                          2,960
9                                         16,600

  Purchasing power parity gross national income  Unnamed: 7  \
0                                           NaN  per capita
1                                    $ billions           $
2                                          2019        2019
3                                          83.3       2,190
4                                          41.3      14,450
5                                         504.8      11,720
6                                            ..          ..
7                                            ..          ..
8                                         202.9       6,380
9                                           2.1      21,780

  Gross domestic product  Unnamed: 9
0                    NaN  per capita
1              % growth     % growth
2                   2019        2019
3                    3.9         1.5
4                    2.2         2.7
5                    0.8        -1.1
6                    2.2         2.5
7                    1.8         1.7
8                   -0.6        -3.8
9                    4.7         3.8

In [77]:
world_bank_pak_pop = world_bank_pop[world_bank_pop['Population'] == 'Pakistan']
world_bank_pak_pop_density = world_bank_pop[world_bank_pop['Population density'] == 'Pakistan']
pop = zip(world_bank_pak_pop, world_bank_pak_pop_density)
pop_list = list(pop)
print(pop_list)

[('Country', 'Country'), ('Population', 'Population'), ('Surface area', 'Surface area'), ('Population density', 'Population density'), ('Gross national income, Atlas method', 'Gross national income, Atlas method'), ('Gross national income per capita, Atlas method', 'Gross national income per capita, Atlas method'), ('Purchasing power parity gross national income', 'Purchasing power parity gross national income'), ('Unnamed: 7', 'Unnamed: 7'), ('Gross domestic product', 'Gross domestic product'), ('Unnamed: 9', 'Unnamed: 9')]